# Binary Translation files
*.mo
# React translation files duplicate strings in django.po and javascript.po
react.po
# The compendium folder contains generated compendia, combining translations
# from django.po and javascript.po for each locale
compendia/*.compendium
